.catalogItem {
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding: 24px;

  display: flex;
  flex-direction: row;
  gap: 24px;
}

.imageContainer {
  width: 290px;
  height: 310px;
}
.camperImage {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.camperInfo {
  width: 525px;
}
.camperHead {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 8px;
}
.camperName {
  margin: 0;
  white-space: nowrap;
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--color-text);
}
.camperPrice {
  display: flex;
  gap: 11px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--color-text);
}
.camperRateLoc {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.camperRate {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.reviewLink {
  text-decoration: underline;
}
.iconLocation {
  width: 16px;
  height: 16px;
  fill: var(--color-text);
}
.favoriteButton {
  border: none;
  background: none;
  padding: 2px;
  cursor: pointer;
  outline: none;
}
.iconFavorite {
  width: 24px;
  height: 24px;
  fill: var(--color-text);
}
.iconStar {
  width: 16px;
  height: 16px;
  fill: var(--color-star);
}
.camperDecsription {
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-ligth);
  margin-bottom: 24px;
  white-space: nowrap;
  text-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  margin: 0;
  padding: 0;
}

.camperBadges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
