/* Стилі для кнопок-чекбоксів */
.checkboxButton {
  display: inline-block;
}

.checkboxButton.checked {
  background-color: #007bff;
  color: #fff;
}

/* Сховати оригінальний чекбокс */
input[type='checkbox'] {
  display: none;
}
