.modal {
  position: relative;
  background-color: var(--color-page-bg);
  border-radius: 20px;
  width: 982px;
  padding: 40px 10px 40px 40px;
  max-height: 96vh;
  overflow: hidden;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(47, 47, 47, 0.6);
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  outline: none;
}
.closeIcon {
  width: 32px;
  height: 32px;
  fill: var(--color-text);
}
.modalContent {
  height: calc(96vh - 80px);
  overflow-y: scroll;
}
